<mtapp:setting id="mixi_check_key" label="チェックキー" hint="mixi チェックキーは、登録時に発行されるものをお使いください。" show_hint="1">
  <input type="text" name="mixi_check_key" id="mixi_check_key" value="<mt:GetVar name="mixi_check_key">" />
</mtapp:setting>

<mtapp:setting id="mixi_button" label="ボタンの種類" hint="表示するボタンの種類を選んでください。" show_hint="1">
  <select name="mixi_button" id="mixi_button" />
    <option value="button-1"<mt:if var="mixi_button" eq="button-1"> selected="selected"</mt:if>>ボタン１</option>
    <option value="button-2"<mt:if var="mixi_button" eq="button-2"> selected="selected"</mt:if>>ボタン２</option>
  </select>
</mtapp:setting>

<mtapp:setting id="mixi_adult" label="18 歳未満非対応" hint="18 歳未満非対応ページの場合、18 歳未満の mixi ユーザの使用に制限が課せられます。" show_hint="1">
  <input type="checkbox" name="mixi_adult" id="mixi_adult" value="1" <mt:if name="mixi_adult"> checked="checked"</mt:if>  />
</mtapp:setting>

<mtapp:setting id="mixi_excerpt" label="概要を表示" hint="エントリー本文（先頭２００文字）の代わりに、概要を表示します。" show_hint="1">
  <input type="checkbox" name="mixi_excerpt" id="mixi_excerpt" value="1" <mt:if name="mixi_excerpt"> checked="checked"</mt:if>  />
</mtapp:setting>
